<%- include('layouts/header'); -%>
<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
  <%- include('layouts/nav'); -%>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <div class="content-container">
        <% if (errors) { %>
            <% errors.forEach((error) => { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
              <% }); %>
            <% } %>
            <% if (message) { %>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    <%= message %>
                </div>
              </div>
              <% } %>
        <div class="register-form-outer-container">
            <form action="" class="user-form register-form-container" method="Post">
                <h2 class="content-title">SIGN UP</h2>
                <div class="user-register-details">
                   

                    <input type="text" name="email" id="email" placeholder="Email"><br>
                    
                    <input type="password" name="password" id="password" placeholder="Password"><br>
                    
                    <!-- <a href=""><button class="btn" id="register-button" type="submit">register</button></a> -->
                    <input class="btn" type="submit" value="register">
                    
                </div>
                <div>
                    <p>Already have an account ?</p>
                    <a class="user-auth-link" href="login.html">Login</a>
                </div>
            </form>
        </div>
    </div>
    
 
<%- include('layouts/footer'); -%>