<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    


    <title>Recipies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/recipe.css">
    <link rel="stylesheet" href="../css/recipies.css">
    <link rel="stylesheet" href="../css/add-recipe.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="../css/about-us.css">
</head>
<body>
    <div class="hero-main-container">
        <header class="hero-inner-container">
            <div class="logo-container">
                
                <a href="/index"><img src="../images/flavor-fusion-high-resolution-logo-black-transparent.png"alt=""></a>
            </div>
            <div class="navbar-outer-container">

                <nav class="navbar-main-container" id="navbar">
                    <ul class="nav-bar-inner-container">
                        <li class="nav-item"><a href="/index">Home</a></li>
                        <li class="nav-item"><a href="/recipies">Search</a></li>
                        <li class="nav-item"><a href="/about-us">About US</a></li>
                        <li class="nav-item"><a href="/contact">Contact</a></li>
                        <li class="nav-item"><a href="/add-recipe">Add Recipe</a></li>
                        <li class="nav-item"><a href="/user">Recipes</a></li>
                        
                        
                    </ul>
                </nav>
                <div class="user-check-container">
                    <ul class="nav-bar-inner-container">
                        <% if (message === 'logged-in') { %>
                            <li class="nav-item"><a href="/login">Login</a></li>
                        <li class="nav-item"><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li class="nav-item"><a href="/logout">Logout</a></li>
                            <%}%>
                        
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="burger-menu" id="burgerMenu">
        <i class="fas fa-bars"></i>
    </div>
    <div class="error-main-container">

        <%- include('../layouts/error'); -%>
    </div>
    <!-- responsive navigation bar -->
    <div class="navbar-responsive" id="navbarResponsive">
        <ul class="nav-bar-inner-container">
            <li class="nav-item"><a href="/index">Home</a></li>
            <li class="nav-item"><a href="/recipies">Search</a></li>
            <li class="nav-item"><a href="/about-us">About US</a></li>
            <li class="nav-item"><a href="/contact">Contact</a></li>
            <li class="nav-item"><a href="/add-recipe">Add Recipe</a></li>
            <li class="nav-item"><a href="/user">Recipes</a></li>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/register">Sign Up</a></li>
        </ul>
        <div class="close-btn" id="closeBtn">×</div>
    </div>

    <input type="hidden" id="userIdInput" value="<%= userId %>">
    <div class="content-container">
        <div class="recipies-main-container">
            
            <div id="filterContainer" class="filter-list-container">
                <h4>Filter By</h4>
                <form action="" class="filter-list-form" id="filterForm">
                    <div id="search-filter-cals" class="filter-group lst-links">
                        <span class="lbl">Calories</span>
                        <span class="cal-title-f">From</span> <input type="text" value="" class="from-to-area" maxlength="4" id="cal-from"><br> 
                        <span class="cal-title-f">To</span> <input type="text" value="" class="from-to-area" maxlength="4" id="cal-to">
                        <input type="hidden" value="" name="calories" id="calories-input">
                        <span class="lbl">Ingredients</span>
                        <span class="cal-title-f">Up to</span> <input type="text" value="" name="ingr" class="from-to-area" maxlength="4" id="ing-upto"> 												  
                    </div>
                    <div id="search-filter-diet" class="filter-group lst-links">
                        <span class="lbl">Diet</span>
                        <ul class="cf">
                            <li class="itm">
                                <label>Vegetarian</label>
                                <input type="checkbox" value="vegetarian" name="health">
                            </li>
                            <li class="itm">
                                <label>Vegan</label>
                                <input type="checkbox" value="vegan" name="health">
                            </li>
                            <li class="itm">
                                <label>Paleo</label>
                                <input type="checkbox" value="paleo" name="health">
                            </li>
                            <li class="itm">
                                <label>High-Fiber</label>
                                <input type="checkbox" value="high-fiber" name="diet">
                            </li>
                            <li class="itm">
                                <label>High-Protein</label>
                                <input type="checkbox" value="high-protein" name="diet">
                            </li>
                            <li class="itm">
                                <label>Low-Carb</label>
                                <input type="checkbox" value="low-carb" name="diet">
                            </li>
                            <li class="itm">
                                <label>Low-Fat</label>
                                <input type="checkbox" value="low-fat" name="diet">
                            </li>
                            <li class="itm">
                                <label>Low-Sodium</label>
                                <input type="checkbox" value="low-sodium" name="diet">
                            </li>
                            <li class="itm">
                                <label>Low-Sugar</label>
                                <input type="checkbox" value="sugar-conscious" name="health">
                            </li>
                            <li class="itm">
                                <label>Alcohol-Free</label>
                                <input type="checkbox" value="alcohol-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Balanced</label>
                                <input type="checkbox" value="balanced" name="diet">
                            </li>
                            <li class="itm">
                                <label>Immunity</label>
                                <input type="checkbox" value="immuno-supportive" name="health">
                            </li>
                        </ul>
                    </div>
                    <!-- /search-filter-diet -->
                    <div id="search-filter-allergies" class="filter-group lst-links">
                        <span class="lbl">Allergies</span>
                        <ul class="cf">
                            <li class="itm">
                                <label>Gluten</label>
                                <input type="checkbox" value="gluten-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Dairy</label>
                                <input type="checkbox" value="dairy-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Eggs</label>
                                <input type="checkbox" value="egg-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Soy</label>
                                <input type="checkbox" value="soy-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Wheat</label>
                                <input type="checkbox" value="wheat-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Fish</label>
                                <input type="checkbox" value="fish-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Shellfish</label>
                                <input type="checkbox" value="shellfish-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Tree Nuts</label>
                                <input type="checkbox" value="tree-nut-free" name="health">
                            </li>
                            <li class="itm">
                                <label>Peanuts</label>
                                <input type="checkbox" value="peanut-free" name="health">
                            </li>
                        </ul>
                    </div>
        
                    <button type="button" class="btn filter-btn" id="filterButton">Filter</button>
                </form>
            </div>
            <div class="recipies-inner-container">
                <div class="recipe-search-container">
                    <input type="text" class="input-search" id="recipeInput">
                    <button type="submit" class="recipeSearch" id="recipeSearchBtn">search</button>
                </div>
                <div class="recipe-filter-toogle-container" >
                    <button type="button" id="toggleFilter" class="btn filter-btn" >Filter</button>
                </div>
                <div class="total-recipies-container empty-recipes" id="recipeContainer" >
                    
    
                        <% if (recipes) { %>
                            <% recipes.forEach(recipe => { %>
                                <div class="recipe-container">
                                    <div class="recipe-image-container">
                                        <img src="<%= recipe.image %>" alt="jk">
                                        <i class="fa-regular fa-bookmark save-recipe-icon" data-edamam-uri="<%= recipe.edamam_uri %>"></i>
                                    </div>
                                    <h4 class="recipe-title"><%= recipe.name %></h4>
                                    <a class="btn btn-recipe" href="/recipe-page">view</a>
                                </div>
                            <% }); %>
                        <% } %>
                    
                </div>
                <div class="view-more-btn-container">
                    <button class="btn view-more-btn" id="viewMoreBtn">View More</button>
                </div>
            </div>
        </div>

    </div>
    
    <footer class="footer-main-container">
        <div>
            <div class="footer-social-icons-container">
                <h3>follow us on social media</h3>
                
                <div>

                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    
                    <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                </div>
                
                
            </div>
            <div class="footer-other-details">
                <h3>Contact Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illum cumque aperiam, fugiat molestias incidunt culpa non nemo? Ea, fuga dolore ex nemo neque amet rem omnis in enim perferendis!</p>
            </div>
        </div>
        <p>Flavor Fusion , All Rights Reserved</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="../js/recipes.js" defer></script>
    <script src="../js/script.js"></script>
    </body>
</html>